
:root {
    font-family: sans-serif;
    background-color: rgb(36, 36, 36);
     
   
    
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center; /* for vertical */
}



/* body {
  
} */

h1 {
   
    color: chocolate;
    
}


.hello {
    color: white;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}


textarea {
    background-color: rgba(115, 115, 115, 0.162);
    width: 500px;
    height: 200px;
}

input, textarea, option{
    color: grey;
    /* border-radius: 3px; */
    border: 0;
}

input {
    background-color: rgba(115, 115, 115, 0.162);
    width: 250px;
    height: 30px;
}

select {
    background-color: rgba(115, 115, 115, 0.162);
    color: white;
    width: 250px;
    height: 30px;
    border-radius:  0px;
    
    outline-style:solid;
    outline-color: rgba(66, 176, 255, 0.316);
    outline-width: 1px;
}



a {
    color:chocolate
    
}

a:visited, a:active, a:link {
    text-decoration: none;
}


a:hover {
    color: antiquewhite;
}


img {
    border-radius: 10%;
}

img:hover {
    width: 400px;
    
}

h2 {
    color: rgb(136, 136, 136);
}

ul {
    color: rgb(136, 136, 136);
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

 th, td {
    color: rgb(145, 145, 145);
    text-align: center;
    border: 1px solid rgb(255, 196, 0);
    border-radius: 5px;
    padding: 10px;
}



thead th:nth-child(1):hover, thead th:nth-child(2):hover, thead th:nth-child(3):hover {
    color: white;
    background-color: grey;
    border-radius: 0px;
    text-decoration: underline;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    

}

fieldset {
    color: chocolate;
    border: 1px dotted gray;

    
}

legend {
    color: #ff6a00;
    font-size: larger; 
}




button {
    border-radius: 0;
    background-color:  chocolate;
    border: 0px;
    color: rgb(255, 255, 255);
    font-size: large;
    
    width: 250px;
    height: 40px;
}

marquee {
    background-color: chocolate;
    color: gold;
}

